<!DOCTYPE html>

<title>ContentType</title>

{% block body %}
    <h1>ContentType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content_type.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ content_type.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_configuration_content_type_index') }}">back to list</a>

    <a href="{{ path('app_configuration_content_type_edit', {'id': content_type.id}) }}">edit</a>

    {{ include('configuration/content_type/_delete_form.html.twig') }}
{% endblock %}
